<html>
    <head>
        <title>Bookings</title>
        <script language="Javascript">
            function showform(dowhat){
                if (dowhat == 'insert'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'block';
                    document.getElementById('delete').style.display = 'none';
                    document.getElementById('search').style.display = 'none';
                }
                else if (dowhat == 'update'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'block';
                    document.getElementById('delete').style.display = 'none';
                }
                else if (dowhat == 'delete'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('delete').style.display = 'block';
                    document.getElementById('search').style.display = 'none';
                }
                else if (dowhat == 'search'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('delete').style.display = 'none';
                    document.getElementById('search').style.display = 'block';
                }
                else {
                    document.getElementById('browse').style.display = 'block';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('delete').style.display = 'none';
                    document.getElementById('search').style.display = 'none';
                    document.getElementById('update').style.display = 'none';

                }
            }
            
            function newBooking() { showform('insert');}
            function updateBooking(bid) { showform('update');}
            function deleteBooking(bid) { showform('delete');}
            function browseBookings() { showform('browse');}
        </script>
    </head>

<h1>Bookings</h1>

[ <a href="/">Home Page</a> |
<a href="/guests">Guests</a> |
<a href="/rentals">Rentals</a> |
<a href="/rental_types">Rental Types</a> |
<a href="/employees">Employees</a> |
<a href="/bookings">Bookings</a> |
<a href="/bookings_guests">Guests Bookings</a> ]

<div id="browse" style="display: block">
    <p><strong>Browse Bookings</strong></p>
    <table id = "bookings-table" border="1" cellpadding="5">
    <thead>
        <tr>
            <th><a href="#" onClick="showform('insert')">New</a></th>
            <th></th>
            <th>id</th>
            <th>number of guests</th>
            <th>rental name</th>
            <th>check in</th>
            <th>check out</th>
            <th>total cost ($)</th>
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td><a href="#" onClick="updateBooking('this.bookingID')">Edit</a></td>
            <td><a href="/delete_bookings/{{this.booking_id}}">Delete</a></td>
            <td>{{this.booking_id}}</td>
            <td>{{this.number_of_guests}}</td>
            <td>{{this.rental_name}}</td>
            <td>{{this.check_in_date}}</td>
            <td>{{this.check_out_date}}</td>
            <td>{{this.total_cost}}</td>
        </tr>
        {{/each}}
    </tbody>

        </table>
        <p></p>
        <a href="#" onClick="showform('search')">Search for a Booking</a>
    </div>




    <p>&nbsp;</p>
    <div id="insert" style="display:none">
        <form id="add-booking-form" method = "POST" action = "/add-booking-form">
            <legend><strong>Add Booking</strong></legend>
                <fieldset class="fields">
                    <label> number of guests </label> <input type="number" name="input_number_of_guests" id = "input_number_of_guests" required>
                    <label> rental id </label>
                    <select name="input_rental" id = "input_rental" required>
                    <option value="">Select a Rental</option>
                    {{#each rentals}}
                    <option value="{{this.rental_id}}">{{this.rental_name}}</option>
                    {{/each}}
                    </select>
                
                    <label> check in </label> <input type="date" name="input_check_in_date" id = "input_check_in_date" required>
                    <label> check out </label> <input type="date" name="input_check_out_date" id = "input_check_out_date" required>
                    <label> total cost </label> <input type="number" step="any" name="input_total_cost" id = "input_total_cost" required>
                </fieldset> 
            <fieldset>
                <input class="btn" type="submit" id="addBooking" value="Add Booking">
                <input class="btn" type="button" value="cancel" onClick="browseBookings()">
            </fieldset>
        </form>
    </div>


<p>&nbsp;</p>
    <div id="update" style="display:none">
        <form id="update-booking-form" method = "POST" action = "/update-booking-form">
            <legend><strong>Update Booking</strong></legend>
                <fieldset class="fields">
                <label> Select the Booking ID to Update</label>
                <select name="input_booking_id" id = "input_booking_id" required>
                {{#each data}}
                <option value="{{this.booking_id}}">{{this.booking_id}}</option>
                {{/each}}
                </select>
                    <label> number of guests </label> <input type="number" name="input_number_of_guests" id = "input_number_of_guests" required>
                    <label> rental name </label>
                    <select name="input_rental" id = "input_rental" required>
                    <option value="">Select a Rental</option>
                    {{#each rentals}}
                    <option value="{{this.rental_id}}">{{this.rental_name}}</option>
                    {{/each}}
                    </select>
                
                    <label> check in </label> <input type="date" name="input_check_in_date" id = "input_check_in_date" required>
                    <label> check out </label> <input type="date" name="input_check_out_date" id = "input_check_out_date" required>
                    <label> total cost </label> <input type="number" step="any" name="input_total_cost" id = "input_total_cost" required>
                </fieldset> 
            <fieldset>
                <input class="btn" type="submit" id="updateBooking" value="Update Booking">
                <input class="btn" type="button" value="cancel" onClick="browseBookings()">
            </fieldset>
        </form>
    </div>
    

    <p>&nbsp;</p>
    <div id="delete" style="display: none">
        <form id="deleteBooking">
            <legend><strong>Delete Booking</strong></legend>
                <fieldset class="fields">
                <p>Are you sure you want to delete the following Booking?</p>
                <input type="hidden" name="BookingID" id="deleteBooking">
                <label> ID: </label> 1
                <label> number of guests: </label>"4"
                </fieldset> 
            <fieldset>
                <input class="btn" type="submit" id="deleteBooking" value="Delete">
                <input class="btn" type="button" value="cancel" onClick="browseBookings()">
            </fieldset>
        </form>
    </div>
    


    <p>&nbsp;</p>
    <div id="search" style="display: none">
        <form id="search-booking">
            <legend><strong>Search for a Booking</strong></legend>
                <fieldset class="fields">
                <p>Provide the ID of the booking you are searching for:</p>
                <label> id </label> <input type="number" name="booking_id" id = "booking_id" required>
                </fieldset> 
            <fieldset>
                <input class="btn" type="submit" id="searchBookings" value="Search">
                <input class="btn" type="button" value="cancel" onClick="browseBookings()">
            </fieldset>
        </form>
    </div>

</body>
</html>