<html>
    <head>
        <title>Employees</title>
        <script language="Javascript">
            function showform(dowhat){
                if (dowhat == 'insert'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'block';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'none';
                }
                else if (dowhat == 'update'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'block';
                    document.getElementById('delete').style.display = 'none';
                }
                else if (dowhat == 'delete'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'block';
                }
                else {
                    document.getElementById('browse').style.display = 'block';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'none';
                }
            }
            
            function newEmployee() { showform('insert');}
            function updateEmployee(gid) { showform('update');}
            function deleteEmployee(gid) { showform('delete');}
            function browseEmployees() { showform('browse');}
        </script>
    </head>


<h1>Employees</h1>

[ <a href="/">Home Page</a> |
<a href="/guests">Guests</a> |
<a href="/rentals">Rentals</a> |
<a href="/rental_types">Rental Types</a> |
<a href="/employees">Employees</a> |
<a href="/bookings">Bookings</a> |
<a href="/bookings_guests">Guests Bookings</a> ]


<div id="browse" style="display: block">
    <p><strong>Browse Employees</strong></p>
    <table id = "employees-table" border="1" cellpadding="5">
    <thead>
        <tr>
            <th><a href="#" onClick="showform('insert')">New</a></th>
            <th></th>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>phone</th>
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td><a href="#" onClick="updateEmployee('this.employeeID')">Edit</a></td>
            <td><a href="/delete_employees/{{this.employee_id}}">Delete</a></td>
            <td>{{this.employee_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
        </tr>
        {{/each}}
    </tbody>
    </table>
    </div>

{{!-- {{Insert new guest form}} --}}

<p>&nbsp;</p>
<div id="insert" style="display:none">
    <form id="add-employee-form" method = "POST" action = "/add-employee-form">
        <legend><strong>Add Employee</strong></legend>
            <fieldset class="fields">
                <label> first name </label> 
                <input type="text" name="input_employee_first_name" id = "input_employee_first_name">
                
                <label> last name </label> 
                <input type="text" name="input_employee_last_name" id = "input_employee_last_name">

                <label> email </label> 
                <input type="text" name="input_employee_email" id = "input_employee_email">

                <label> phone </label> 
                <input type="text" name="input_employee_phone" id = "input_employee_phone">
            </fieldset> 
        <fieldset>
            <input class="btn" type="submit" id="addEmployee" value="Add Employee">
            <input class="btn" type="button" value="cancel" onClick="browseEmployees()">
        </fieldset>
    </form>
</div>

{{!-- {{update guest form}} --}}

<p>&nbsp;</p>
<div id="update" style="display:none">
    <form id="update-employee-form" method = "POST" action = "/update-employee-form">
        <legend><strong>Update Employee</strong></legend>
            <fieldset class="fields">
            <label> Select the Employee ID to Update</label> 
            <select name="input_employee_id" id = "input_employee_id">
                {{#each data}}
                <option value="{{this.employee_id}}">{{this.employee_id}}</option>
                {{/each}}
            </select>
                <label> first name </label> 
                <input type="text" name="input_employee_first_name" id = "input_employee_first_name">
                
                <label> last name </label> 
                <input type="text" name="input_employee_last_name" id = "input_employee_last_name">

                <label> email </label> 
                <input type="text" name="input_employee_email" id = "input_employee_email">

                <label> phone </label> 
                <input type="text" name="input_employee_phone" id = "input_employee_phone">
            </fieldset> 
        <fieldset>
            <input class="btn" type="submit" id="updateEmployee" value="Update Employee">
            <input class="btn" type="button" value="cancel" onClick="browseEmployees()">
        </fieldset>
    </form>
</div>

</body>
</html>
     
        