<html>
    <head>
        <title>Guests</title>
        <script language="Javascript">
            function showform(dowhat){
                if (dowhat == 'insert'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'block';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'none';
                }
                else if (dowhat == 'update'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'block';
                    document.getElementById('delete').style.display = 'none';
                }
                else if (dowhat == 'delete'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'block';
                }
                else {
                    document.getElementById('browse').style.display = 'block';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'none';
                }
            }
            
            function newGuest() { showform('insert');}
            function updateGuest(gid) { showform('update');}
            function deleteGuest(gid) { showform('delete');}
            function browseGuests() { showform('browse');}
        </script>
    </head>



<body>
<h1>Guests</h1>

[ <a href="/">Home Page</a> |
<a href="/guests">Guests</a> |
<a href="/rentals">Rentals</a> |
<a href="/rental_types">Rental Types</a> |
<a href="/employees">Employees</a> |
<a href="/bookings">Bookings</a> |
<a href="/bookings_guests">Guests Bookings</a> ]


<div id="browse" style="display: block">
<p><strong>Browse Guests</strong></p>
<table id = "guests-table" border="1" cellpadding="5">
<thead>
    <tr>
        <th><a href="#" onClick="showform('insert')">New</a></th>
        <th></th>
        <th>id</th>
        <th>first name</th>
        <th>last name</th>
        <th>email</th>
        <th>phone</th>
        <th>address</th>
    </tr>
</thead>

{{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td><a href="#" onClick="updateGuest('this.personID')">Edit</a></td>
            <td><a href="/delete_guests/{{this.guest_id}}">Delete</a></td>
            <td>{{this.guest_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.address}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>



{{!-- {{Insert new guest form}} --}}

<p>&nbsp;</p>
<div id="insert" style="display:none">
    <form id="add-guest-form" method = "POST" action = "/add-guest-form">
        <legend><strong>Add Guest</strong></legend>
            <fieldset class="fields">
                <label> first name </label> 
                <input type="text" name="input_guest_first_name" id = "input_guest_first_name">
                
                <label> last name </label> 
                <input type="text" name="input_guest_last_name" id = "input_guest_last_name">

                <label> email </label> 
                <input type="text" name="input_guest_email" id = "input_guest_email">

                <label> phone </label> 
                <input type="text" name="input_guest_phone" id = "input_guest_phone">

                <label> address </label> 
                <input type="text" name="input_guest_address" id = "input_guest_address">
            </fieldset> 
        <fieldset>
            <input class="btn" type="submit" id="addGuest" value="Add Guest">
            <input class="btn" type="button" value="cancel" onClick="browseGuests()">
        </fieldset>
    </form>
</div>

{{!-- {{Update guest form}} --}}

<p>&nbsp;</p>
<div id="update" style="display:none">
    <form id="update-guest-form" method = "POST" action = "/update-guest-form">
        <legend><strong>Update Guest</strong></legend>
            <fieldset class="fields">
            <label> Select the Guest ID to Update</label> 
            <select name="input_guest_id" id = "input_guest_id">
                {{#each data}}
                <option value="{{this.guest_id}}">{{this.guest_id}}</option>
                {{/each}}
            </select>
                <label> first name </label> 
                <input type="text" name="input_guest_first_name" id = "input_guest_first_name">
                
                <label> last name </label> 
                <input type="text" name="input_guest_last_name" id = "input_guest_last_name">

                <label> email </label> 
                <input type="text" name="input_guest_email" id = "input_guest_email">

                <label> phone </label> 
                <input type="text" name="input_guest_phone" id = "input_guest_phone">

                <label> address </label> 
                <input type="text" name="input_guest_address" id = "input_guest_address">
            </fieldset> 
        <fieldset>
            <input class="btn" type="submit" id="updateGuest" value="Update Guest">
            <input class="btn" type="button" value="cancel" onClick="browseGuests()">
        </fieldset>
    </form>
</div>

</body>
</html>