<html>
    <head>
        <title>Rental Types</title>
        <script language="Javascript">
            function showform(dowhat){
                if (dowhat == 'insert'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'block';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'none';
                }
                else if (dowhat == 'update'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'block';
                    document.getElementById('delete').style.display = 'none';
                }
                else if (dowhat == 'delete'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'block';
                }
                else {
                    document.getElementById('browse').style.display = 'block';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'none';
                }
            }
            
            function newRentalType() { showform('insert');}
            function updateRentalType() { showform('update');}
            function browseRentalTypes() { showform('browse');}
        </script>
    </head>

<h1>Rental Types</h1>
[ <a href="/">Home Page</a> |
<a href="/guests">Guests</a> |
<a href="/rentals">Rentals</a> |
<a href="/rental_types">Rental Types</a> |
<a href="/employees">Employees</a> |
<a href="/bookings">Bookings</a> |
<a href="/bookings_guests">Guests Bookings</a> ]

<div id="browse" style="display: block">
    <p><strong>Browse Rental Types</strong></p>
    <table id = "rental-types-table" border="1" cellpadding="5">
    <thead>
        <tr>
            <th><a href="#" onClick="showform('insert')">New</a></th>
            <th></th>
            <th>id</th>
            <th>name</th>
            <th>year round</th>
            <th>max occupancy</th>
            <th>cost per night ($)</th>
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td><a href="#" onClick="updateRentalType('this.rentalID')">Edit</a></td>
            <td><a href="/delete_rental_types/{{this.rental_type_id}}">Delete</a></td>
            <td>{{this.rental_type_id}}</td>
            <td>{{this.rental_type_name}}</td>
            <td>{{this.availability}}</td>
            <td>{{this.occupancy}}</td>
            <td>{{this.cost_per_night}}</td>
        </tr>
        {{/each}}
    </tbody>

    </table>
</div>
{{!-- {{Insert new rental form}} --}}

<p>&nbsp;</p>
<div id="insert" style="display:none">
    <form id="add-rental-types-form" method = "POST" action = "/add-rental-types-form">
        <legend><strong>Add Rental Type</strong></legend>
            <fieldset class="fields">
                <label> name </label> 
                <input type="text" name="input_rental_type_name" id = "input_rental_type_name">

                <label> availability </label> 
                
                {{!-- {{Select for rental type drop down}} --}}
                <select name="input_availability" id = "input_availability">
                    <option value="">Select an availability</option>
                    <option value =Year Round> Year Round</option>
                    <option value =Summer> Summer</option>
                    <option value =Fall> Fall</option>
                    <option value =Winter> Winter</option>
                    <option value =Spring> Spring</option>
                </select>
                
                <label> occupancy </label> 
                <input type="number" name="input_occupancy" id = "input_occupancy">

                <label> cost per night </label> 
                <input type="number" name="input_cost_per_night" id = "input_cost_per_night">
            </fieldset> 
        <fieldset>
            <input class="btn" type="submit" id="addRentalType" value="Add Rental Type">
            <input class="btn" type="button" value="cancel" onClick="browseRentalTypes()">
        </fieldset>
    </form>
</div>



{{!-- {{Update rental form}} --}}

<p>&nbsp;</p>
<div id="update" style="display:none">
    <form id="update-rental-types-form" method = "POST" action = "/update-rental-types-form">
        <legend><strong>Update Rental Type</strong></legend>
            <fieldset class="fields">
            <label> Select the Rental Type ID to Update</label> 
            <select name="input_rental_type_id" id = "input_rental_type_id">
                {{#each data}}
                <option value="{{this.rental_type_id}}">{{this.rental_type_id}}</option>
                {{/each}}
            </select>
                <label> name </label> 
                <input type="text" name="input_rental_type_name" id = "input_rental_type_name">

                <label> availability </label> 
                
                {{!-- {{Select for rental type drop down}} --}}
                <select name="input_availability" id = "input_availability">
                    <option value="">Select an availability</option>
                    <option value ="Year Round"> Year Round</option>
                    <option value ="Summer"> Summer</option>
                    <option value ="Fall"> Fall</option>
                    <option value ="Winter"> Winter</option>
                    <option value ="Spring"> Spring</option>
                </select>
                
                <label> occupancy </label> 
                <input type="number" name="input_occupancy" id = "input_occupancy">

                <label> cost per night </label> 
                <input type="number" name="input_cost_per_night" id = "input_cost_per_night">
            </fieldset> 
        <fieldset>
            <input class="btn" type="submit" id="updateRentalType" value="Update Rental Type">
            <input class="btn" type="button" value="cancel" onClick="browseRentalTypes()">
        </fieldset>
    </form>
</div>

</body>
</html>
